.cont_carrito{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;



}
.carrito_mensaje{

    // max-width: 1920px;
    // width: 80%;
    // height: 80%; //Centramos verticalmente
    // margin: 0 auto;
    text-align: center;
    font-size: 30px;
    font-weight: 20px;

}

.btn_compra
{
color: $main_color;
background-color: rgba(255, 255, 255, 0.700);

font-size: 1em;
font-weight: 500;
border: 1px solid;
border-color: $main_color;
text-align: center;
background: transparent;
padding: 0.5% 0.5%;
}